section{
    border: 2px solid black;
  padding: 2em;
  position: relative;
}
div{
    border: 1px solid black;
    padding: 0.5em;
    width: 5em;
    height: 5em;
   
}
.relative-absolute div:nth-child(2){
    background-color: lightgreen;
    position: relative;
    left: 5em;
    top: 2em;

}
.relative  div:nth-child(2){
    background-color: lightgreen;
    position: absolute;
    left: 4em;
    top: 4em;
}